---
import { Header, Button, Footer } from '@components/odyssey-theme';
import Layout from './Base.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';
import Logo from '../components/Logo.astro';
import settings from '../config/settings';
import { footerLists, footerSocials } from '../config/footer';
import { Icon } from 'astro-icon/components';

export interface Props {
	seo?: BaseHeadProps;
}

import { nav } from '../config/nav.js';

const { seo } = Astro.props as Props;
---

<Layout {seo}>
	<Header rightMenu navData={nav} slot="header">
		<span slot="logo">
			<Logo />
		</span>
		<Button slot="action-item" href="/getinvolved"
			>Get Involved <Icon name="ic:baseline-chevron-right" /></Button
		>
	</Header>
	<div id="page">
		<slot />
	</div>
	<Footer
		slot="footer"
		background="var(--theme-surface-1)"
		color="var(--theme-on-surface-1)"
		{footerLists}
		{footerSocials}
		copyrightName={settings.name}
		showLittleSticksPlug={settings.showLittleSticksPlug}
	>
		<Logo slot="logo" />
	</Footer>
</Layout>
